<div class="nextds-callout">
  <h3 class="nextds-callout__title" data-lfr-editable-id="title" data-lfr-editable-type="text">Important to know</h3>
  <p class="nextds-callout__text" data-lfr-editable-id="text" data-lfr-editable-type="rich-text">
    A short paragraph that emphasises a key piece of information the visitor must not miss.
  </p>
  [#if configuration.showButton]
    <a class="nextds-button nextds-button--primary nextds-button--md" href="#" data-lfr-editable-id="button-link" data-lfr-editable-type="link">
      <span data-lfr-editable-id="button-label" data-lfr-editable-type="text">Get started</span>
    </a>
  [/#if]
</div>
