<div class="nextds-tabs" data-nextds-tabs>
  <ul class="nextds-tabs__list" role="tablist">
    <li role="presentation"><button type="button" role="tab" id="nextds-tab-1" aria-selected="true"  aria-controls="nextds-panel-1" tabindex="0"  class="nextds-tabs__tab"><span data-lfr-editable-id="tab-1-label" data-lfr-editable-type="text">Overview</span></button></li>
    <li role="presentation"><button type="button" role="tab" id="nextds-tab-2" aria-selected="false" aria-controls="nextds-panel-2" tabindex="-1" class="nextds-tabs__tab"><span data-lfr-editable-id="tab-2-label" data-lfr-editable-type="text">Details</span></button></li>
    <li role="presentation"><button type="button" role="tab" id="nextds-tab-3" aria-selected="false" aria-controls="nextds-panel-3" tabindex="-1" class="nextds-tabs__tab"><span data-lfr-editable-id="tab-3-label" data-lfr-editable-type="text">Resources</span></button></li>
  </ul>
  <div class="nextds-tabs__panel" id="nextds-panel-1" role="tabpanel" aria-labelledby="nextds-tab-1"><p data-lfr-editable-id="panel-1" data-lfr-editable-type="rich-text">A short overview of the topic.</p></div>
  <div class="nextds-tabs__panel" id="nextds-panel-2" role="tabpanel" aria-labelledby="nextds-tab-2" hidden><p data-lfr-editable-id="panel-2" data-lfr-editable-type="rich-text">More detailed information.</p></div>
  <div class="nextds-tabs__panel" id="nextds-panel-3" role="tabpanel" aria-labelledby="nextds-tab-3" hidden><p data-lfr-editable-id="panel-3" data-lfr-editable-type="rich-text">Related documents and downloads.</p></div>
</div>
