<article class="nextds-content-block">
  [#if configuration.showMeta]
    <p class="nextds-content-block__meta" data-lfr-editable-id="meta" data-lfr-editable-type="text">News article · 14 May 2026</p>
  [/#if]
  <h3 class="nextds-content-block__title">
    <a href="#" data-lfr-editable-id="title-link" data-lfr-editable-type="link">
      <span data-lfr-editable-id="title" data-lfr-editable-type="text">A concise, scannable title</span>
    </a>
  </h3>
  [#if configuration.showDesc]
    <p class="nextds-content-block__desc" data-lfr-editable-id="desc" data-lfr-editable-type="rich-text">
      A short description that tells the visitor what they will find behind the link.
    </p>
  [/#if]
  [#if configuration.showTag]
    <p class="nextds-content-block__tags"><span class="nextds-tag nextds-tag--info" data-lfr-editable-id="tag" data-lfr-editable-type="text">Topic</span></p>
  [/#if]
</article>
