<nav class="nextds-breadcrumb" aria-label="You are here:">
  <ol class="nextds-clean-list nextds-breadcrumb__list" role="list">
    <li class="nextds-breadcrumb__item"><a href="/" data-lfr-editable-id="crumb-1" data-lfr-editable-type="link">Home</a></li>
    <li class="nextds-breadcrumb__item"><a href="#" data-lfr-editable-id="crumb-2" data-lfr-editable-type="link">Section</a></li>
    <li class="nextds-breadcrumb__item nextds-breadcrumb__item--current" aria-current="page">
      <span data-lfr-editable-id="crumb-current" data-lfr-editable-type="text">Current page</span>
    </li>
  </ol>
</nav>
