<div class="nextds-tile">
  <div class="nextds-tile__media">
    <img class="nextds-tile__icon" data-lfr-editable-id="tile-image" data-lfr-editable-type="image" src="[resources:illustration-tile.svg]" alt="" width="80" height="80"/>
  </div>
  <div class="nextds-tile__body">
    <h3 class="nextds-tile__title">
      <a class="nextds-tile__link" href="#" data-lfr-editable-id="title-link" data-lfr-editable-type="link">
        <span data-lfr-editable-id="title" data-lfr-editable-type="text">A service or feature</span>
      </a>
    </h3>
    [#if configuration.showDesc]
      <p class="nextds-tile__desc" data-lfr-editable-id="desc" data-lfr-editable-type="rich-text">
        A short description that tells the visitor what they will find behind this tile.
      </p>
    [/#if]
  </div>
  <svg class="nextds-tile__arrow" viewBox="0 0 24 24" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="5" y1="12" x2="19" y2="12"/><polyline points="13 6 19 12 13 18"/></svg>
</div>
